@model TPGamePlus.Models.Admin.StatusViewModel

<label class="control-label">Statu</label>
<select class="form-control">
    <label asp-for="StatusID"></label>
	<select asp-for="StatusID" class="form-select">
		<option disabled selected>--Selectionne un status--</option>
	</select>
</select>
