@{
    ViewData["Title"] = "À propos";
}

<head>
    <link rel="stylesheet" href="~/css/AboutUs.css">
</head>



<h1 class="col-12 textCenter subTitle">Chez GamePlus nous vendons des jeux avec un petit plus</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col-12 MicroSpace">
                <div class="ImgInfoAbout ImgInfoLeftAbout col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <img src="~/img/Objectif.png" alt="objectif.png" class="maxWidth img-fluid" />
                </div>
                <div class="BoxInfoAbout BoxInfoRightAbout col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <h1>Notre but</h1>
                    <p>
                        Chez GamePlus, nous vendons un monde vidéoludique pour tous. Nous souhaitons enrichir
                        votre quotidien en vous offrant les meilleurs produits sur le marché.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 MicroSpace">
                <div class="ImgInfoAbout ImgInfoRighttAbout col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <img src="~/img/Employee/PhotosGroupe.png" alt="entreprise.png" class="maxWidth img-fluid" />
                </div>
                <div class="BoxInfoAbout BoxInfoLeftAbout col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <h1>Notre histoire</h1>
                    <p>
                        Bien que GamePlus a grandement évolué au cours des années, cela n'empêche pas que l'on
                        a commencé avec une simple boutique de quartier. Évoluant au fil des années jusqu'à
                        nous rendre ici, comme votre fidèle site de vente de jeux.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<div class="BottomSpace">
    <p class="textCenter">Merci à nos partenaires de nous soutenir depuis tant d'années.</p>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/Amd.png" onmouseup="mouseUpAmd()" />
            <div class="col-1"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/Intel.png" onmouseup="mouseUpIntel()" />
            <div class="col-1"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/Nvidia.png" onmouseup="mouseUpNvidia()" />
            <div class="col-1"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/Ubisoft.png" onmouseup="mouseUpUbisoft()" />
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/Xbox.png" onmouseup="mouseUpXbox()" />
            <div class="col-1"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/Nitendo.png" onmouseup="mouseUpNitendo()" />
            <div class="col-1"></div>
            <img class="PartnershipImg PointerCursor" src="~/img/partnershipLogo/PlayStation.png" onmouseup="mouseUpPlayStation()" />
            <div class="col-3"></div>
        </div>
    </div>
</div>

<div class="BottomSpace">
    <h1 class="textCenter" style="font-weight: 500">Nos membres</h1>

    <div class="card memberCard">
        <div class="cardTop textCenter">
            <img src="~/img/Employee/MarieClaire.jpeg" alt="Marie Claire Uwambajimana">
        </div>
        <div class="textCenter paddingCard">

            <h1>Marie Claire</h1>
            <h2>BACK-END DEVELOPER</h2>
            <p>
                S'occupe du bon fonctionnement des différentes parties du site et
                assure la totale sécurité de vos transactions.
            </p>
        </div>
        <div class="iconCard">
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/Uwambajimana"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>

    <div class="card memberCard">
        <div class="cardTop textCenter">
            <img src="~/img/Employee/William.png" alt="William Lussier">
        </div>
        <div class="textCenter paddingCard">
            <h1>William</h1>
            <h2>UI UX</h2>
            <p>
                S'occupe de l'expérience utilisateur ainsi que tout le côté visuel du site web
            </p>
        </div>
        <div class="iconCard">
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/willliam9"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>

    <div class="card memberCard">
        <div class="cardTop textCenter">
            <img src="~/img/Employee/zaccc.jpg" alt="Zachary Cloutier-cyr">
        </div>
        <div class="textCenter paddingCard">
            <h1>Zachary</h1>
            <h2>FOURNISSEUR</h2>
            <p>
                S'occupe de trouver pour vous les meilleurs jeux en qualité exemplaire
                tout en assurant le bon fonctionnement de ceux-ci.
            </p>
        </div>
        <div class="iconCard">
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/zaccc1986"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>

    <div class=" card memberCard">
        <div class="cardTop textCenter">
            <img src="~/img/Employee/Tristan.png" alt="Tristan Bousquet">
        </div>
        <div class="textCenter paddingCard">
            <h1>Tristan</h1>
            <h2>SEO MANAGER</h2>
            <p>
                S'occupe du référencement naturel du site e-commerce.
            </p>
        </div>
        <div class="iconCard">
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/Supermimine"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>
</div>

<script src="~/js/AboutUs.js" asp-append-version="true"></script>