<head>
	<link rel="stylesheet" href="~/css/Error.css" asp-append-version="true" />
</head>

<p class="textError">OOPS! PAGE INTROUVABLE</p>
<p class="NumberError ">404</p>
<p class="textError">NOUS SOMMES DÉSOLÉ, MAIS LA PAGE CORRESPONDANT À VOTRE RECHERCHE<br />EST INTROUVABLE</p>