<head>
	<link rel="stylesheet" href="~/css/Carousel.css">
</head>



<div id="Client" class="col-12 MicroSpaceBottom">
	<h3 class="sizeT">Avis de nos clients</h3>
</div>
<div id="carouselProduit" class="carousel slide BottomSpace" data-bs-ride="carousel" data-bs-interval="3000">
	<div class="carousel-inner" style="">
		<div class="col-12 carousel-item active">
			<div class="card card-componant">
				<div>
					<h4>
						Wow! des produits de bonnes qualités et des jeux en très bon états
					</h4>
					<h5>
						<strong>Julien Leclaire</strong>
					</h5>
					<div>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 carousel-item">
			<div class="card card-componant">
				<div>
					<h4>
						Une grande variété pour les mordus de jeux vidéos
					</h4>
					<h5>
						<strong>Valérie Monpetit</strong>
					</h5>
					<div>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 carousel-item">
			<div class="card card-componant">
				<div>
					<h4>
						Très bon service, je le recommande
					</h4>
					<h5>
						<strong>Methena Bérard</strong>
					</h5>
					<div>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 carousel-item">
			<div class="card card-componant">
				<div>
					<h4>
						Parfait.
					</h4>
					<h5>
						<strong>Eliot Baril</strong>
					</h5>
					<div>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>